<div id="graph-container-{{ prefix }}" class="graph-container tall hidden" data-plot-group="{{ prefix }}">
    <div class="graph-inner vertical">
        <div class="heatmap-toggle-buttons">
           <button class="toggle-btn active" data-view="{{ prefix }}">Full Match</button>
            <button class="toggle-btn" data-view="{{ prefix }}_first">1st Half</button>
            <button class="toggle-btn" data-view="{{ prefix }}_second">2nd Half</button>
        </div>
        <div id="{{ plot_container_id }}" class="plotly-wrapper"></div>
    </div>
</div>

