{% extends 'base.html' %}

{% block title %}Match Analysis{% endblock %}

{% block dropdowns %}
    {% include 'partials/competition_dropdowns.html' %}
{% endblock %}

{% block content %}
<div class="analysis-container">
    <div class="analysis-nav">
        <button class="tab-btn active" data-tab="overview">Overview</button>
        <button class="tab-btn" data-tab="home">Home Team</button>
        <button class="tab-btn" data-tab="away">Away Team</button>
        <button class="tab-btn" data-tab="player">Player</button>
    </div>

    <div class="analysis-content" id="overview">
        <div id="graphs-container" class="graphs-container">
            <div id="graph-container-1" class="graph-container medium">
            </div>
            <div id="graph-container-2" class="graph-container tall">
                <div id="match-summary">
                    <div class="score-header">
                        <h3 id="combined-score-header">Home Team 1 - 2 Away Team</h3>
                        <p id="extra-details">(ET: 1 - 0, Pen: 5 - 4)</p>
                    </div>
                </div>

                <div class="team-tables">
                    <div class="team-table">
                        <table id="home-team-table">
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="team-table">
                        <table id="away-team-table">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="graph-container-3" class="graph-container medium">
                <!-- Medium graph -->
            </div>
        </div>
    </div>
    <div class="analysis-content hidden" id="home">Home team analysis goes here.</div>
    <div class="analysis-content hidden" id="away">Away team analysis goes here.</div>
    <div class="analysis-content hidden" id="player">Player analysis goes here.</div>
</div>
{% endblock %}


{% block scripts %}

<script src="https://cdn.plot.ly/plotly-2.26.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.searchable-dropdown').select2();
    });
</script>
<script src="{{ url_for('static', filename='js/match_analysis.js') }}"></script>
{% endblock %}
